{% extends 'home.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}About Us{% endblock %}</title>
</head>
<body>
    {% block content %}
    <h1>About Our Tour Management System</h1>
    <p>Explore the Unforgettable with Our Exclusive Tour Packages!
Embark on a journey to breathtaking destinations that promise unforgettable memories. Whether you're seeking tranquil beaches, lush landscapes, cultural heritage, or thrilling adventures, our tailor-made tour packages are designed to offer you the best of every experience. From the sun-kissed shores to misty mountains, immerse yourself in the beauty of nature and the rich tapestry of cultures.
<br>
Why Choose Us?
<br>
*Handpicked Destinations: We offer the most stunning, hidden gems and iconic landmarks.<br>
*Personalized Experiences: Customize your itinerary to fit your dream vacation.<br>
*Hassle-Free Travel: From accommodation to guided tours, we take care of every detail.<br>
*Affordable Luxury: Enjoy premium services at unbeatable prices.<br>
*24/7 Support: We're here to assist you, ensuring a smooth and enjoyable trip.<br>
Pack your bags, and let us take care of the rest. With our curated tours, every trip becomes a remarkable story waiting to unfold. Book your adventure today and discover a world full of wonder!</p>
    {% endblock %}
</body>
</html>